// ==========================================================================
// Helpers
// ==========================================================================

// Clearfix

.st-primary {
  stroke: var(--color-primary);
}

.st-secondary {
  stroke: var(--color-secondary);
}

.fl-primary {
  fill: var(--color-primary);
}

.fl-secondary {
  fill: var(--color-secondary);
}
