// ==========================================================================
// Hero
// ==========================================================================

.hero__wrapper {
  position: relative;
  width: 100vmin;
  min-width: 50vw;
  height: 75vmin;
  cursor: pointer;
}
