// ==========================================================================
// Hero
// ==========================================================================

.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vmin;
  min-width: 50vw;
  height: 75vmin;
  cursor: pointer;
}
