// ==========================================================================
// Layout
// ==========================================================================

.flex__wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 100vh;
  align-content: center;
  align-items: center;
}

.flex__cell {
  flex: 1 1;
  align-self: center;
}
